span.datetext {
    string-set: datetext self;
}

@font-face
{
    font-family: TestFont;
    src: url(mexico.ttf);
}

@page {
    size: a5;
    counter-increment: page

    @bottom-center {
        content: "Page " counter(page);
    }

    @top-center{
    }
}

@page:first {
    -ro-counter-set: page 1;
}

@page:left {
    @left-middle {
        content: string(datetext);
        color: green;
        font-weight: bold;
        font-family: Arial;
        font-size: 30px;
        -ro-transform: rotate(-90deg) ;
    }    
}

@page:right {
    @right-middle {
        content: string(datetext);
        color: green;
        font-weight: bold;
        font-family: Arial;
        font-size: 30px;
        -ro-transform: rotate(90deg) ;
    }    
}

.empty-page {
    page-break-after: always;
    text-align: center;
    font-size: 50px;
    color: #ddd;
}

