span.datetext {
    string-set: datetext self;
}

@font-face {
  font-family: MarkCompPro;
  src: url(MarkCompPro.ttf);
}

@page {
    size: 135mm 228mm;
    counter-increment: page

    @bottom-center {
        content: "Page " counter(page);
    }

    @top-center{
    }
}

@page:first {
    -ro-counter-set: page 1;
}

@page:left {
    @left-middle {
        content: string(datetext);
        color:white;
        background: cmyk(0%,68%,72%,0%);
        font-family: Arial;
        text-transform:capitalize;
        font-size: 30px;
        -ro-transform: rotate(-90deg) ;
    }    
}

@page:right {
    @right-middle {
        content: string(datetext);
        color:white;
        background: cmyk(0%,68%,72%,0%);
        font-family: Arial;
        text-transform:capitalize;
        font-size: 30px;
        -ro-transform: rotate(90deg) ;
    }    
}

@page:right {
    margin:0;
    background:url('ornament_rechts.png')0 0 no-repeat;
    background-size:135mm 228mm;
    padding:17mm 22mm 22mm 16mm !important;
}
@page:left {
    margin:0;
    background:url('ornament_link.png') 0 0 no-repeat;
    background-size:135mm 228mm;
    padding:17mm 16mm 22mm 22mm;
}
body {
  font-family: 'MarkCompPro', sans-serif;
    font-weight: normal;
}
.empty-page {
    page-break-after: always;
    text-align: center;
    font-size: 50px;
    color: #ddd;
}

/* Footnotes */
.link-text a {
    float: footnote
}

.link-text a { counter-increment: footnote }

.a::footnote-call {
    content: counter(footnote);
    font-size: 83%;
    vertical-align: super;
    line-height: none
}
