/* Speakers Overview page */

@font-face {
  font-family: DejaRip;
  src: url(DejaRip.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Light;
  src: url(MarkPro-Light.otf);
  font-weight: normal;
  font-style:  normal;
}
/*
@page {
    @top-center {
        content: 'speakers';
        font-family: DejaRip;
        font-size:9pt;
        margin-top:5.5mm;
    }
}
*/

@page:left {
    background:url('speaker-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page:right {
    background:url('speaker-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
.speakers-overview {
    /*
    -ro-column-count: 2; 
    -ro-column-fill: balance;
    -ro-column-gap: 1in;
    */
    text-align: justify;
    hyphens: auto;
    hyphenate-before: 3;
    hyphenate-after: 3;
    margin-bottom:3mm;
}

#headline {
    text-align: center;
    font-size:24pt;
    font-family:"MarkPro-Light";
    line-height:36pt;
    color: cmyk(98%,25%,32%,0%);/*petrol*/ 
}

.speakers-overview .speaker {
    font-family: DejaRip;
    font-size:9pt;
    line-height:12pt;
     margin-top: 4.233mm;
    clear: both;
}

.speakers-overview .speaker-image {
    width: 24mm;
    height: 24mm;
    margin-top:2mm;
    margin-right:4.5mm;
    margin-bottom:2.5mm;
    border-radius: 50%;
/*    border: solid 5px grey;*/
    float: left;
}
p.has-no-content {display:none;}
.speakers-overview .speaker-name {
    color: cmyk(98%,25%,32%,0%);/*petrol*/ 
}
.speaker-description:nth-of-type(2n+2) {
   text-indent:34mm;
}
