@font-face {
  font-family: DejaWeb;
  src: url(DejaWeb.ttf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: DejaWeb-Bold;
  src: url(DejaWeb-Bold.ttf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: DejaWeb-Italic;
  src: url(DejaWeb-Italic.ttf);
  font-weight: normal;
  font-style:  italic;
}
@font-face {
  font-family: DejaWeb-BoldItalic;
  src: url(DejaWeb-BoldItalic.ttf);
  font-weight: bold;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro;
  src: url(MarkPro.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Light;
  src: url(MarkPro-Light.otf);
  font-weight: 100;
  font-style:  normal;
}

@font-face {
  font-family: MarkPro-Medium;
  src: url(MarkPro-Medium.otf);
  font-weight: 400;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Bold;
  src: url(MarkPro-Bold.otf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Italic;
  src: url(MarkPro-Italic.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-LightItalic;
  src: url(MarkPro-LightItalic.otf);
  font-weight: 100;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro-MediumItalic;
  src: url(MarkPro-MediumItalic.otf);
  font-weight: normal;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro-BoldItalic;
  src: url(MarkPro-BoldItalic.otf);
  font-weight: bold;
  font-style:  italic;
}
@font-face {
  font-family: MarkScCompProBold;
  src: url(MarkScCompProBold.ttf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: SourceCodePro-Regular;
  src: url(SourceCodePro-Regular.otf);
  font-weight: normal;
  font-style:  normal;
}
/* ornamente */
.day-monday {
    page: monday;
}
.day-tuesday {
    page: tuesday;
}

.day-wednesday {
    page: wednesday;
}

.day-thursday {
    page: thursday;
}

.day-friday {
    page: friday;
}

.day-saturday {
    page: saturday;
}

.day-sunday {
    page: sunday;
}

@page monday:left {
    background:url('monday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page monday:right {
    background:url('monday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page tuesday:left {
    background:url('tuesday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page tuesday:right {
    background:url('tuesday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page wednesday:left {
    background:url('wednesday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page wednesday:right {
    background:url('wednesday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page thursday:left {
    background:url('thursday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page thursday:right {
    background:url('thursday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page friday:left {
    background:url('friday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page friday:right {
    background:url('friday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page saturday:left {
    background:url('saturday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page saturday:right {
    background:url('saturday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@page sunday:left {
    background:url('sunday-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page sunday:right {
    background:url('sunday-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
.clearfix:before,
.clearfix:after  {
  display: table;
  content: " ";
}
.clearfix:after {
    clear:both;
}
h7,
h6,
h5,
h4 {
color: cmyk(98%,25%,32%,0%);/*petrol*/
font-size:9pt;
font-family:"MarkPro-Light", Arial sans serif;
text-transform:uppercase;
}
.duration {font-size:9pt;padding-left:4pt;}
.schedule-day {
    page-break-after: always;
}
.speaker-name,
.title, 
.room {color: cmyk(98%,25%,32%,0);
}
.time {color: cmyk(0%,68%,72%,0);
}
.topics,
.b-text {
    font-family: MarkScCompProBold !important;
    font-size:9pt;
    text-transform:uppercase;
}
.topics {margin:0; padding:0;}
.topics span {
background: cmyk(18%,0%,80%,0%); /*yellow*/
color: cmyk(98%,25%,32%,0%);/*petrol*/
border-radius: 6pt;
padding:1mm 1mm 0mm 1mm;
}
.topic,
.audience {
    margin-bottom:0;
}
.topic span {
background: cmyk(0%,68%,72%,0);/*orange*/
color:white;
border-top-left-radius: 6pt;
border-bottom-left-radius: 6pt;
white-space:nowrap;
padding:1mm 1mm 0mm 1mm;
}
.audience span {
background: cmyk(0%,68%,72%,0);/*orange*/
color:white;
border-top-right-radius: 6pt;
border-bottom-right-radius: 6pt;
padding:1mm 1mm 0mm 1mm;
}
ul.col-button {
list-style-type: none;  
padding:0pt;    
}
ul.col-button ul{
list-style-type: none;  
    }

.block {
  overflow: hidden; 
}
.block-head {
  display: table;
  width: 100%;
  border-collapse: collapse; 
}
.block-head .topics {
display: table-cell;
vertical-align: top;
width: 34mm;
 }
.block-head .b-text {
display: table-cell;
width: 66mm;
padding: 0;
}
.b-text li {margin-right:1.4mm;} 
.col-left {
    display:block;
    float:left;
    width:34mm;
    margin-left:0;
    margin-top:0;
}
.col-right {
    display:block;
    width:67mm;
    margin-left: 34mm;
    margin-top:0;
}
div.title {
line-height:13pt;
font-size:12pt;
font-family:"MarkPro-Light", Arial sans serif;
}
.speakers {
    margin-top:3pt;
    font-size:9pt;
    font-family:"MarkPro-Light", Arial sans serif;
 }
span.speaker-name {
    font-family:"MarkPro-LightItalic" !important;
 }
.entry .heading {
    page-break-inside: never;
    column-break-before: auto;
}
.texl ol,
.text li {
color: cmyk(98%,25%,32%,0%);/*petrol*/
    }
.text ol span,
.text li span {color:black;}
.text div ol, ol, ul,
.text div ul {margin-left:28mm;}
.heading ul {margin-left:0;}
.text {  
    text-align: justify;
    hyphens: auto;
    hyphenate-before: 2;
    hyphenate-after: 2;
    margin-bottom: 0.5em;
    font-family: DejaWeb;
    font-size:9pt;
}
code {
    font-size:9pt;
    font-family:"SourceCodePro-Regular" !important;
    line-height:12pt;
    
}
div.text p:nth-of-type(2n+2) {
   text-indent:34mm;
}
.entry .speaker-name {
    font-style: italic;
    font-weight: bold;
}

.entry .speaker-description {
}

.empty {
    page: empty;
}
