@font-face {
  font-family: FontAwesome;
  src: url(FontAwesome.otf);
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: DejaRip;
  src: url(DejaRip.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: DejaRip-Bold;
  src: url(DejaRip-Bold.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro;
  src: url(MarkPro.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Bold;
  src: url(MarkPro-Bold.otf);
  font-weight: bold;
  font-style:  normal;
}
@page {
    margin:0;
    -ro-crop-size: 276mm 234mm;
    -ro-bleed-width: 3mm;
    size: 270mm 228mm;
    counter-increment: page1 2 page2 2;

    @top-right {
        content: 'schedule';
        font-family: DejaRip;
        font-size:9pt;
        margin-top:5.5mm;
        padding-right:22mm;
    }
    @top-left {
        content: 'schedule';
        font-family: DejaRip;
        font-size:9pt;
        margin-top:5.5mm;
        padding-left:22mm;
    }
    @bottom-left {
        z-index:999;
        content: "" counter(page1);
        font-family: DejaRip;
        font-size:9pt;
        position:absolute;
        top:222.5mm;
        padding-left:22mm;
    }
    @bottom-right {
        z-index:999;
        content: "" counter(page2);
        font-family: DejaRip;
        font-size:9pt;
        position:absolute;
        top:222.5mm;
        padding-left:252mm;
    }
}

.day-monday {
    page: monday;
}
.day-tuesday {
    page: tuesday;
}

.day-wednesday {
    page: wednesday;
}

.day-thursday {
    page: thursday;
}

.day-friday {
    page: friday;
}

.day-saturday {
    page: saturday;
}

.day-sunday {
    page: sunday;
}
@page monday {
    background:url('monday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page tuesday {
    background:url('tuesday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page wednesday {
    background:url('wednesday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page thursday {
    background:url('thursday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page friday {
    background:url('friday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page saturday {
    background:url('saturday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}
@page sunday {
    background:url('sunday-table.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:276 244mm;
    padding:17.6mm 16.5mm 20mm 17.5mm;
}

/* Table schedule */
caption {display:none;}
div.day table{
    width: 100%;
    border-collapse: collapse;
}
div.day thead th {
    font-family:"MarkPro-Bold";
    font-size:9pt;
    text-align:center;
    color: cmyk(98%,25%,32%,0%);/*petrol*/
}
div.day tbody th.time {
    font-family:"DejaRip";
    font-size:9Pt;
    padding:2mm 0mm;
    line-height:12pt;
    text-align:center;
    color: cmyk(98%,25%,32%,0%);/*petrol*/
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
}
div.title {
    font-family:"DejaRip";
    color: cmyk(98%,25%,32%,0%);/*petrol*/
    font-size:7Pt;
    line-height:8.4pt;
    text-align:left;
    vertical-align:center;
}

div.speaker {
    font-family:"DejaRip";
    color: cmyk(0%,68%,72%,0);/*orange*/
    font-size:7Pt;
    line-height:8.4pt;
    text-align:left;
    vertical-align:center;
}
tbody td.title-sponsoredeventletstalkpythonandelasticsearch,
tbody td.title-breakfast,
tbody td.title-welcome,
tbody td.title-europythondinner,
tbody td.title-sponsoredeventrhodecode,
tbody td.title-sponsoredeventelasticsearchmeetup,
tbody td.title-lunch,
tbody td.title-coffeebreak {
        background:cmyk(29%,11%,16%,0%);
}
td.title-sponsoredeventletstalkpythonandelasticsearch .title,
td.title-breakfast .title,
td.title-welcome .title,
td.title-europythondinner .title,
td.title-sponsoredeventrhodecode .title,
td.title-sponsoredeventelasticsearchmeetup .title,
td.title-lunch .title,
td.title-coffeebreak .title {
        text-align:center;
        color:cmyk(0%,0%,0%,0%) !important;
}
td.title-coffeebreak .title:before,
td.title-breakfast .title:before {
    content:':';
    color:white;
    font-family:FontAwesome;
    font-size:4pt;
   padding-right:2mm;
}
td.title-welcome .title:before {
    content:'';
    color:white;
    font-family:FontAwesome;
    font-size:4pt;
   padding-right:2mm;
}
td.title-lunch .title:before {
    content:'';
    color:white;
    font-family:FontAwesome;
    font-size:4pt;
   padding-right:2mm;
}
td.title-sponsoredeventelasticsearchmeetup .title:before {
    color:white;
    content:"";
    font-family:FontAwesome;
    font-size:4pt;
   padding-right:2mm;
}
td.title-sponsoredeventletstalkpythonandelasticsearch .title:before,
td.title-sponsoredeventrhodecode .title:before,
td.title-europythondinner .title:before {
    color:white;
    font-family:FontAwesome;
    content:"";
    font-size:4pt;
   padding-right:2mm;
}
td.col-0 {
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
td.col-1 {
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
td.col-2 {
    width:24mm;
    border-right:0pt;
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
td.col-3 {
    width:50mm;
    border-right:0pt;
    }
td.col-4 {
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }

td.col-5 {
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
td.col-6 {
    width:24mm;
    border-right:0.25pt solid cmyk(29%,11%,16%,0%);
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
td.col-7 {
    width:24mm;
    border-right:0pt;
    border-bottom:0.25pt solid cmyk(29%,11%,16%,0%);
    padding:2mm 2mm;
    }
