@font-face {
  font-family: DejaRip;
  src: url(DejaRip.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: DejaRip-Bold;
  src: url(DejaRip-Bold.otf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: DejaRip-Italic;
  src: url(DejaRip-Italic.otf);
  font-weight: normal;
  font-style:  italic;
}
@font-face {
  font-family: DejaRip-Bold-Italic;
  src: url(DejaRip-Bold-Italic.otf);
  font-weight: bold;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro;
  src: url(MarkPro.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Light;
  src: url(MarkPro-Light.otf);
  font-weight: 100;
  font-style:  normal;
}

@font-face {
  font-family: MarkPro-Medium;
  src: url(MarkPro-Medium.otf);
  font-weight: 400;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Bold;
  src: url(MarkPro-Bold.otf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Italic;
  src: url(MarkPro-Italic.otf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-LightItalic;
  src: url(MarkPro-LightItalic.otf);
  font-weight: normal;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro-MediumItalic;
  src: url(MarkPro-MediumItalic.otf);
  font-weight: normal;
  font-style:  italic;
}
@font-face {
  font-family: MarkPro-BoldItalic;
  src: url(MarkPro-BoldItalic.otf);
  font-weight: bold;
  font-style:  italic;
}
@font-face {
  font-family: MarkScCompProBold;
  src: url(MarkScCompProBold.ttf);
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: SourceCodePro-Regular;
  src: url(SourceCodePro-Regular.otf);
  font-weight: normal;
  font-style:  normal;
}
/* ornamente */
.day-monday {
    page: monday;
}
.day-tuesday {
    page: tuesday;
}

.day-wednesday {
    page: wednesday;
}

.day-thursday {
    page: thursday;
}

.day-friday {
    page: friday;
}

.day-saturday {
    page: saturday;
}

.day-sunday {
    page: sunday;
}
@page {
    @top-center {
        /*content: 'program';
        font-family: DejaRip;
        font-size:9pt;
        margin-top:5.5mm;
        background-color:cmyk(0%,0%,0%,0%) !important;
        z-index: 10;
        position: relative;*/
    }
}
@page monday:left {
    background:url('monday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page monday:right {
    background:url('monday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page tuesday:left {
    background:url('tuesday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page tuesday:right {
    background:url('tuesday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page wednesday:left {
    background:url('wednesday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page wednesday:right {
    background:url('wednesday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page thursday:left {
    background:url('thursday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page thursday:right {
    background:url('thursday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page friday:left {
    background:url('friday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page friday:right {
    background:url('friday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page saturday:left {
    background:url('saturday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page saturday:right {
    background:url('saturday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
@page sunday:left {
    background:url('sunday-left.png') -3mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17.6mm 16.5mm 20mm 18.5mm;
}
@page sunday:right {
    background:url('sunday-right.png') 0mm -9mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17.6mm 18.5mm 20mm 16.5mm;
}
/* content styles */
.schedule-heading {display:none;}
p,
p:before,
p:after {
    margin:0;
}
p:nth-of-type(1) {
    margin-top:12pt;
}
.clearfix:before,
.clearfix:after  {
  display: table;
  content: " ";
}
.clearfix:after {
    clear:both;
}
h7,
h6,
h5,
h4 {
/*color: cmyk(98%,25%,32%,0%);/*petrol*/
font-size:9pt;
line-height:12pt;
font-family:"MarkPro-Light", Arial sans serif;
text-transform:uppercase;
}
.duration {font-size:9pt;padding-left:4pt;}
.schedule-day {
    page-break-after: always;
}
.heading { page-break-after: avoid; }
.speakers,
.speaker-name,
.title, 
.room {color: cmyk(98%,25%,32%,0);
}
.time {
font-family:"MarkPro-Light", Arial sans serif;
color: cmyk(0%,68%,72%,0);
}
.room {
font-family:"MarkPro-Light", Arial sans serif;
}
.topics,
.b-text {
    font-family:MarkPro-Bold !important;
    font-size:9pt;
    line-height:9pt;
    vertical-align:center;
    text-transform:lowercase;
    font-variant:small-caps;
}
.topics {margin:0; padding:0;}
.topics span {
background: cmyk(18%,0%,80%,0%); /*yellow*/
color: cmyk(98%,25%,32%,0%);/*petrol*/
border-radius: 6pt;
padding:-0.4mm 1mm 0.5mm 1mm;
}
.topic,
.audience {
    margin-bottom:0;
}
.topic span {
background: cmyk(0%,68%,72%,0);/*orange*/
color:white;
    line-height:0pt;
border-top-left-radius: 6pt;
border-bottom-left-radius: 6pt;
white-space:nowrap;
padding:-0.4mm 1mm 0.5mm 1mm;
}
.audience span {
background: cmyk(0%,68%,72%,0);/*orange*/
color:white;
    line-height:0pt;
border-top-right-radius: 6pt;
border-bottom-right-radius: 6pt;
padding:-0.4mm 1mm 0.5mm 1mm;
}
ul.col-button {
list-style-type: none;  
padding:0pt;    
}
ul.col-button ul{
list-style-type: none;  
    }

.block {
  overflow: hidden; 
}
.block-head {
  margin-bottom: -4mm;
  display: table;
  width: 100%;
  border-collapse: collapse; 
}
.block-head .topics {
display: table-cell;
vertical-align: top;
width: 34mm;
 }
.block-head .b-text {
display: table-cell;
margin-left:34.1pt;
padding: 0;
}
.b-text li {margin-right:1.4mm;} 
.col-left {
    display:block;
    float:left;
    width:34mm;
    margin-left:0;
    margin-top:0;
}
.col-right {
    display:block;
    width:60mm;
    margin-left: 34mm;
    margin-top:0;
}
div.title {
line-height:12pt;
font-size:12pt;
font-family:"MarkPro-Light", Arial sans serif;
}
.speakers {
    margin-top:3pt !important;
    margin-bottom:0.4pt !important;
    font-size:9pt;
    font-family:"MarkPro-Light";
 }
span.speaker-name {
    font-family:"MarkPro-LightItalic" !important;
 }
.entry .heading {
    page-break-inside: avoid;
    column-break-before: auto;
}
.texl ol,
.text li {
/*color: cmyk(98%,25%,32%,0%);/*petrol*/
    }
.text ol span,
.text li span {color:black;}
.text div ol, ol, ul,
.text div ul {margin-left:14mm;}
.heading ul {margin-left:0;}
.text {  
    text-align: justify;
    hyphens: auto;
    hyphenate-before: 3;
    hyphenate-after: 3;
    margin-bottom: 0.5em;
    font-family: DejaRip;
    font-size:9pt;
    line-height:12pt;
}
code {
    font-size:9pt;
    font-family:"SourceCodePro-Regular" !important;
    line-height:12pt;
    
}
div.text p:nth-of-type(2n+2) {
   text-indent:20mm;
}
div.text p a {
text-indent: 0mm !important;
}
h7,
h6,
h5,
h4 {
    color: cmyk(98%,25%,32%,0%);/*petrol*/
    margin-bottom:0;
    margin-left:20mm;
}
div > h4:not(:first-child),
div > h5:not(:first-child),
div > h6:not(:first-child),
div > h7:not(:first-child) {
    }
.entry .speaker-name {
    font-style: italic;
}

.empty {
    page: empty;
}
