/* Speakers Overview page */

@page {
    @top-center {
        content: 'speakers';
    }
}

@page:left {
    background:url('speaker-left.png') -3mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:138.5mm 243.7mm;
    padding:17mm 14mm 20mm 16mm;
}
@page:right {
    background:url('speaker-right.png') 0mm -6mm no-repeat;
    z-index:999;
    position:relative;
    background-size:137.5 243.7mm;
    padding:17mm 16mm 20mm 14mm;
}
@font-face {
  font-family: DejaWeb;
  src: url(DejaWeb.ttf);
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: MarkPro-Light;
  src: url(MarkPro-Light.otf);
  font-weight: normal;
  font-style:  normal;
}
.speakers-overview {
    /*
    -ro-column-count: 2; 
    -ro-column-fill: balance;
    -ro-column-gap: 1in;
    */
    text-align: justify;
    font-size: 10px;
    hyphens: auto;
    hyphenate-before: 3;
    hyphenate-after: 3;
}

#headline {
    text-align: center;
    font-size:24pt;
    font-family:"MarkPro-Light";
   text-shadow:none !important;
     outline:none !important;
    outline-color:transparent;
    line-height:36pt;
    color: cmyk(98%,25%,32%,0%);/*petrol*/ 
}

.speakers-overview .speaker {
    font-family: DejaWeb;
    font-size:9pt;
    line-height:12pt;
     margin-top: 4.233mm;
    clear: both;
}

.speakers-overview .speaker-image {
    width: 1.75cm;
    height: 1.75cm;
    border-radius: 50%;
/*    border: solid 5px grey;*/
    margin-right: 1em;
    float: left;
}

.speakers-overview .speaker-name {
    color: cmyk(98%,25%,32%,0%);/*petrol*/ 
}
